.chart {
  flex: 2; // from flex: 1 or no flex
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  gap: 20px; // this is the magic space you're looking for
}
.chart-filter {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
